@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
*
{   
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    top: 0 !important;
}

.body-img{
    position: absolute;
    z-index: -1;
}

a{
    color: #fff;
    text-decoration: none;  
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

p{
    margin:0;
    padding:1rem 0.5rem;
}

/* Text */
.large-text{
    font-size: 1.5rem;
}

.medium-text{
    font-size: 1.3rem;
}

.small-text{
    font-size: 1rem;
}

.pointer{
    cursor: pointer;
}


/* Color */
.dark{
    color: #000;
}

.light{
    color:#fff;
}

.green{
    color:#50C878;
}

.red{
    color:#FF0000;
}

.blue{
    color: #6870fa;
}

.brown{
    color: #333;
}
.p-right{
    padding:0;
    text-align: right;
    margin-right: 1rem;
}


::-webkit-scrollbar {
    display: none;
}


/* header */
header{
    width: 100%;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    text-align: center;
    margin:0 auto;
}

.title{
    grid-column: span 2;
    padding: 0.5rem 0;
}

.title .head{
    font-size: 2rem;
    color:#f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.title .small-head{
    color:#6870fa;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.head-a{
    font-size: 1.2rem;
    margin-right: 1rem;
}


/* Showcase */

.show-case{
    display: grid;
    height: 520px;
    grid-gap:0.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 1rem 2rem;
    padding: 0;
}

.show-left{
    grid-column: span 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

.left-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
}


.right-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
}

.left-box:hover{
    background: rgba(255, 255, 255, 0.2);
    scale:1.05;
}


.part-1{
    text-align: center;
    color:#fff;
}

.part-2{
    padding: 1rem;
    text-align: center;
    color:#fff;
}

.show-center{
    grid-column: span 8;
    height: 530px;
}

.show-center-content{
    background: rgba(0,0,0,0.3);
    height: 536px;
}

.show-right{
    grid-column: span 3;
    display: grid;
    grid-gap:0.5rem;
    grid-template-rows: 3fr 2fr;
    padding:0;
}

.user{
    width:100%;
    text-align: center;
    background: rgba(0,0,0,0.3);
    margin: 0 auto;
}



.user-table{
    width: 100%;
    height: 260px;
    overflow:auto;
    color:#fff;
    
}

table{
    width: 100%;
    border:0;
    border-collapse: collapse;
}
tr{
    cursor: pointer;
}
tr:hover{
    background: rgba(255,255,255,0.3);
}


.view-profile{
    border-bottom: #50C878 1px solid;
    color: #50C878;
    padding:0.3rem 1rem;
}

/*Google Translater*/
#google_translate_element{
    display: inline-block;
    height: 10px;
}
.goog-te-gadget-simple {
  color:#fff !important;
  border:none !important;
}

.google-translate {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

 .goog-te-banner-frame.skiptranslate {
    display: none !important;
 }

.goog-te-combo{
    height: 32px;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
 }

 .goog-te-combo:hover{
    background-color:#6870fa;
 }
 

 .goog-te-gadget-icon{
    display: none;
 }


 .goog-te-gadget-simple{
  background: none !important;
 }

 
 .goog-te-gadget-simple .goog-te-menu-value span{
  color:#fff;
 }


  /* Profile */

  .user-profile{
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: 1fr 0.5fr 4fr;
  }

  .user-live{
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: 1fr 4fr 0.5fr;
  }

  .profile-part1, .profile-part2, .live-part1{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    padding-top: 2rem;
  }
  

  .profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 3rem;
    opacity: 80%;
    border: #6870fa 1px solid;
  }

  .profile-li{
    list-style: none;
    padding: 0;
    margin:0;
  }
  .profile-li>li{
    margin-bottom: 1rem;
  }

.profile-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2rem;
}

.number{
    text-align: center;
    width: 100%;
    padding:0.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.number:hover{
    scale: 1.1;
}   

.profile-part3{
    width: 60%;
    height: 240px;
    margin:1rem auto;
}

.live-part2{
    width: 70%;
    height: 300px;
    margin:1rem auto;
}

.label-txt{
    width: 70%;
    margin: 1rem auto;
}

#tran-chart-part{
    width: 90%;
    height: 460px;
    padding-top:8rem;
    margin:0 auto;
    display: none;
    transition: all 0.5s ease;
    transition-duration: 0.5s;
}

#report-chart-part{
    width: 90%;
    height: 460px;
    padding-top:8rem;
    margin:0 auto;
    display: none;
    transition: all 0.5s ease;
    transition-duration: 0.5s;
}

#momement-chart-part{
    width: 80%;
    height: 380px;
    padding-top:8rem;
    margin:0 auto;
    display: none;
    transition: all 0.5s ease;
    transition-duration: 0.5s;
}