@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
*
{   
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    top: 0 !important;
}

.body-img{
    position: absolute;
    z-index: -1;
}

a{
    color: #fff;
    text-decoration: none;  
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

.large-text{
    font-size: 1.5rem;
}

.medium-text{
    font-size: 1.3rem;
}

.small-text{
    font-size: 1rem;
}


.dark{
    color: #000;
}

.light{
    color:#fff;
}

.green{
    color:#50C878;
}

.txt{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    text-align: center;
    margin:0 auto;
}

ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    
}

.title{
    padding: 0;
    background: rgba(255,255,255,0.2);
    padding: 0.5rem 0;
}

.title .head{
    font-size: 2.5rem;
    color:#f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
}

li{
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* background: rgba(0,0,0,0.5); */
    margin: 0 0.3rem;
    cursor: pointer;
    padding:0.8rem 1rem;
    transition: 0.5s;
}

li:hover{
    background: rgba(255, 255, 255, 0.2);
}

.head-a{
    font-size: 1.2rem;
}

.show-case{
    display: grid;
    height: 520px;
    grid-gap:0.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 2rem;
    padding: 0;
}

.show-left{
    grid-column: span 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

.left-box1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    /* border-top:#6870fa 2px solid;
    border-left:#6870fa 2px solid; */
}

.left-box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    /* border-left:#6870fa 2px solid; */
}

.left-box3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    /* border-bottom:#6870fa 2px solid;
    border-left:#6870fa 2px solid; */
}


.part-1{
    text-align: center;
    color:#fff;
}

.part-2{
    padding: 1rem;
    text-align: center;
    color:#fff;
}

.show-center{
    grid-column: span 7;
    height: 530px;
}

.map{
    /* background: no-repeat center center url('../data/World-Map-Transparent.png');
    width: 100%;
    height: 520px; */
    background: rgba(0,0,0,0.3);
    /* border-top:#6870fa 2px solid;
    border-bottom:#6870fa 2px solid; */
    height: 536px;
    
}

.map-img{
    
}

.show-right{
    grid-column: span 3;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 4fr 2fr;
}

.right-box{
    width: 100%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    /* border-top:#6870fa 2px solid;
    border-bottom:#6870fa 2px solid;
    border-right:#6870fa 2px solid; */
}

.transaction{
    width:100%;
    text-align: center;
    background: rgba(0,0,0,0.3);
    /* border-top:#6870fa 2px solid;
    border-bottom:#6870fa 2px solid;
    border-right:#6870fa 2px solid;
     */
}

.tran-table{
    width: 100%;
    height: 280px;
    overflow:auto;
    color:#fff;
    
}

table{
    width: 100%;
    border:0;
    border-collapse: collapse;
}
tr:hover{
    background: rgba(255,255,255,0.3);
}

.price{
    background-color: #088F8F;
    padding:0.3rem;
}


#google_translate_element{
    display: inline-block;
    height: 10px;
}
.google-translate {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

 .goog-te-banner-frame.skiptranslate {
    display: none !important;
 }

.goog-te-combo{
    height: 32px;
    background:none;
    border:#6870fa 1px solid;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
 }

 .goog-te-combo:hover{
    background-color:#6870fa;
 }

