


.form{
    width: 90%;
    height: 550px;
    margin:0 auto;
    background:rgba(0,0,0,0.4);
    border-radius: 30px;
    margin-top: 1rem;
    border:#6870fa 2px solid;
}

.form-filter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1.5rem auto;
}

.form-filter> input{
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    margin-right: 1rem;
    border: #fff 1px solid;
    background: none;
    color:#fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.8; /* Firefox */
  }

.search-btn{
    padding:0.5rem 1.2rem;
    color:#fff;
    background: #6870fa;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left:1rem;
}

.table-section{
    width: 98%;
    height: 450px;
    margin:1% auto;
    color:#fff;
    overflow: auto;
}


th{
    font-size: 1.2rem;
}

td{
    text-align: center;
    padding: 0.5rem;
}